<StackedLayout style="border-width:5; border-color: green">
    <Label id="id1" text="Item 1" horizontalAlignment="left" verticalAlignment="top"></Label>
    <Label id="id2" text="Item 2"></Label>
    <Label id="id3" text="Item 3" horizontalAlignment="right"></Label>
</StackedLayout>

<StackedLayout orientation="horizontal">
    <Label id="id1" text="Item 1" horizontalAlignment="left"></Label>
    <Label id="id2" text="Item 2"></Label>
    <Label id="id3" text="Item 3" horizontalAlignment="right"></Label>
</StackedLayout>